@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --DarkBluesignup: hsl(217, 28%, 15%);
  --mainbackground: hsl(218, 28%, 13%);
  --footerbackground: hsl(216, 53%, 9%);
  --testimonialsbackground: hsl(219, 30%, 18%);
  --insidecall-to-actiongradient: hsl(176, 68%, 64%);
  --insidecall-t-actiongradient: hsl(198, 60%, 50%);
  --error: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}

h1 {
  font-family: "Raleway", serif;
}
h2,
h3,
h4,
p,
a {
  font-family: "Open Sans", serif;
}
.quote{
  width: 30px;
  z-index: index -4;;
}